body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, p, blockquote, table, th, td { margin: 0px; padding: 0px; }
html, body { background: rgb(255, 255, 255) none repeat scroll 0% 0%; color: rgb(0, 0, 0); }
body {
	font-family: "Noto Sans Japanese", "MS PGothic", sans-serif;
	font-weight: 600;
	font-size: 18px;
}
:first-child + html body { font-size: small; }
img { border: 0px none; vertical-align: top; }
h1, h2, h3, h4, h5, h6 { clear: both; font-size: 100%;}
address, caption, cite, code, dfn, em, strong, th, var { font-style: normal; font-weight: bold; }
input, textarea, select { font-family: inherit; font-size: inherit; font-weight: inherit; }
:first-child + html + input, :first-child html + textarea, :first-child + html select { font-size: 100%; }
table { border-collapse: collapse; border-spacing: 0px; font-size: inherit; }
th, td { text-align: left; vertical-align: top; }
:first-child + html pre, :first-child html + code, :first-child html + kbd, :first-child + html + samp, :first-child + html tt { font-size: 108%; line-height: 100%; }
input, select, textarea { font-size: 100%; font-family: Verdana,Helvetica,sans-serif; }



/* =========================================================
■ 基本
========================================================= */
html { overflow-y: scroll; background: rgb(250, 250, 250) none repeat scroll 0% 0%; }
body {
	color: rgb(76, 76, 76);
	text-align: justify;
	background: rgb(250, 250, 250);
}
.wrapper { background: transparent url('../img/bg_02.gif') repeat-y scroll 0% 0%; padding: 0px 35px; line-height: 2.0; font-size: 105%; }
.content {
	width: 770px;
	margin: 0px auto;
}

.content p {
	margin-bottom: 30px;
}
.wrapper2 {
	width: 870px;
	margin: 0 auto;
}
.subtitle{
	background-color: #BE0000;
	text-align: center;
}
.subtitle p{
	padding: 2%;
	line-height: 120%;
}
.top {
	margin: 0 auto;
}
.top img {
	width: 100%;
}
.top2 {
	display: none;
}
strong { font-weight: bold; font-size: 18px; }
b { font-weight: bold; color: rgb(255, 69, 0); }
a:link, a:visited { text-decoration: underline; color: rgb(56, 106, 209); }
a:hover { text-decoration: none; }
p { margin: 0px; }
.clear { clear: both; }

footer p small {
	font-size: 10px;
}

table { border-collapse: collapse; }
table td { border-collapse: collapse; }
table { width: 100%; border-spacing: 0px; }

.clearfix:after {
	content: "";
	clear: both;
	display: block;
}


.subtitle h2 {
	padding-top: 40px;
	padding-bottom: 40px;
	font-size: 2em;
	color: #FFF;
}

.video {
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 56.25%;
	overflow: hidden;
	margin-bottom: 50px;
}

.video iframe {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}


/*---------------------------------
_header
-----------------------------------*/

header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: #fff;
	box-shadow: 0 0 5px #666;
}
header .container {
	width: 90%;
	margin: 0 auto;
	height: 80px;
}
header .logo {
	float: left;
}
header img {
	height: 45px;
	margin: 10px 0 0;
}
header .logo-text {
	letter-spacing: 6.6px;
	margin-top: -1px;
	margin-left: -15px;
	color: #444;
	font-size: 10px;
	transform:scale(0.8);
}
header #company_name {
	float: left;
	font-family: serif;
	font-weight: bold;
	font-size: 22px;
	margin-top: 22px;
}
header .btn-case {
	float: right;
}
header .btn-case .btn {
	width: 160px;
	height: 48px;
	float: left;
	font-size: 12px;
	font-weight: bold;
	box-shadow: 0 0 1px #111;
	border: 2px solid #fff;
	color: #fff;
	border-radius: 30px;
	margin-top: 15px;
	text-align: center;
	background: rgb(13,216,118); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(13,216,118,1) 0%, rgba(14,140,80,1) 50%, rgba(5,80,46,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(13,216,118,1) 0%,rgba(14,140,80,1) 50%,rgba(5,80,46,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(13,216,118,1) 0%,rgba(14,140,80,1) 50%,rgba(5,80,46,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0dd876', endColorstr='#05502e',GradientType=0 ); /* IE6-9 */
}
header .btn-case .btn:nth-child(1) {
	margin-right: 10px;
}
header .btn-case .btn a {
	display: block;
	color: #fff;
	text-decoration: none;
}
header .btn-case .btn:nth-child(1) a {
	margin-top: 4px;
}
header .btn-case .btn:nth-child(2) a {
	margin-top: 13px;
}
@media screen and (max-width: 767px){
	header .container {
		height: 60px;
		width: 94%;
	}
	header img {
		height: 20px;
		margin: 16px 0 0;
	}
	header .logo-text {
		margin-left: -28px;
		letter-spacing: 1px;
		transform:scale(0.5);
	}
	header .btn-case {
		margin-right: -50px;
		transform: scale(0.6);
	}
	header .btn-case .btn {
		width: auto;
		padding: 0 13px;
		font-size: 12px;
		margin-top: 6px;
	}
	header .btn-case .btn:nth-child(1) {
		margin-right: 5px;
	}
}

/*---------------------------------
_BOX
-----------------------------------*/
.text-box {
	background: url(../img/bg_04.jpg) repeat #f1f1f1;
	border: 5px solid #ccc;
	padding: 30px;
}
.box-red {
	background-color: #ffffe0;
	border: solid 10px #b22222;
	padding: 20px;
	margin-top: 40px;
	margin-bottom: 60px;
}

/*---------------------------------
_テーブル
-----------------------------------*/
table.form1 { border-collapse: collapse; border-spacing: 0px; font-size: inherit; width: 100%; margin: 0px auto; }
.form1 th, td { text-align: left; vertical-align: top; }
.form1 th { font-weight: normal; width: 80px; padding: 20px; font-size: 18px; background-color: rgb(243, 243, 251); vertical-align: middle; border: 1px solid rgb(220, 220, 220); }
.form1 td { padding: 20px; font-size: 18px; border: 1px solid rgb(230, 230, 230); }
table.form2 { border-collapse: collapse; border-spacing: 0px; font-size: inherit; width: 768px; margin: 0px auto; }
.form2 th, td { text-align: left; vertical-align: top; }
.form2 th { font-weight: bold; width: 160px; padding: 20px; font-size: 19px; background-color: rgb(230, 230, 250); vertical-align: middle; border: 1px solid rgb(220, 220, 220); }
.form2 td { padding: 20px; font-size: 18px; border: 1px solid rgb(230, 230, 230); }


/*---------------------------------
_余白、マージン
-----------------------------------*/
.mt0 { margin-top: 0px ! important; }
.mt10 { margin-top: 10px ! important; }
.mt20 { margin-top: 20px ! important; }
.mt30 { margin-top: 30px ! important; }
.mt40 { margin-top: 40px ! important; }
.mt50 { margin-top: 50px ! important; }
.mt60 { margin-top: 60px ! important; }
.mt70 { margin-top: 70px ! important; }
.mb0 { margin-bottom: 0px ! important; }
.mb10 { margin-bottom: 10px ! important; }
.mb20 { margin-bottom: 20px ! important; }
.mb30 { margin-bottom: 30px ! important; }
.mb40 { margin-bottom: 40px ! important; }
.mb50 { margin-bottom: 50px ! important; }
.mb60 { margin-bottom: 60px ! important; }
.mb70 { margin-bottom: 70px ! important; }
.pt0 { padding-top: 0px ! important; }
.pt10 { padding-top: 10px ! important; }
.pt20 { padding-top: 20px ! important; }
.pt30 { padding-top: 30px ! important; }
.pt50 { padding-top: 50px ! important; }
.pt70 { padding-top: 70px ! important; }
.pb20 { padding-bottom: 20px ! important; }
.pb30 { padding-bottom: 30px ! important; }
.pb50 { padding-bottom: 50px ! important; }
/*ăťăłăżăŞăłă°
******************************************/
.text-center { margin-left: auto; margin-right: auto; text-align: center; }

.top-box { border: 2px solid rgb(204, 204, 204); padding: 10px; }

/*---------------------------------
_プロフィール
-----------------------------------*/
.profile-box {
	border: 3px solid rgb(204, 204, 204);
	padding: 25px;
}
.profile-box p {
	font-size: 0.9em;
}
.profile-box .photo {
	width: 40%;
	float: left;
}
.profile-box .photo img {
	width: 100%;
}
.profile-box .detail {
	width: 58%;
	float: right;
}
.profile-box .detail .name {
	font-size: 45px;
	color: #111;
	font-weight: bold;
	padding-bottom:5px;
	border-bottom: 1px solid #ccc;
	margin-bottom: 20px;
	line-height: 120%;
}



.title {
	font-family: "ăăŠăŽăč§ă´ Pro W3", Hiragino Kaku Gothic Pro," ăĄă¤ăŞăŞ", Meiryo, Osaka," ?­?ł ?°ă´ăˇă?Ż", MS PGothic," sans-serif";
	font-size: 35px;
	font-weight: bold;
	color: #111;
	line-height: 150%;
	margin: 0 auto;
	text-align:left;
	margin-bottom: 30px;

}
.title .mini {
	font-size: 24px;
	line-height: 100%;
}
.title .red {
	color: #cc0000;
}
.title .big {
	font-size: 50px;
}
.title .md {
	font-size: 30px;
}
.high-line {
	background-color: #efea5c;
	padding:2px;
	font-weight: bold;
}
.mc01 {
	font-size: 30px;
	font-weight: bold;
	padding: 3px 5px 3px 5px;
	border: 1px solid #ccc;
	background-color: #f1f1f1;
	border-left:10px solid #ccc;
	padding-left: 20px;
	color: #111;
	margin-bottom: 30px;
}

/*---------------------------------
_フォントサイズ
-----------------------------------*/
.f-size24 {
	font-size: 24px !important;
}
.f-size20_b {
	font-size: 20px !important;
	font-weight: bold;
}
.f-size18_b {
	font-size: 18px !important;
	font-weight: bold;
}
.f-size30_b {
	font-size: 30px !important;
	font-weight: bold;
}
.f-size30_bu {
	font-size: 30px !important;
	font-weight: bold;
	text-decoration: underline;
}

/*---------------------------------
_フォントカラー
-----------------------------------*/
.black {
	color: #111;
}
.f-bold {
	font-weight: bold;
}
.red {
	color:#d40a0a;
}
.red_u {
	color:#d40a0a;
	text-decoration: underline;
}
.red_b {
	color:#d40a0a;
	font-weight: bold;
}


ul {
	margin-bottom: 30px;
}
li {
	background: url(../img/ck28.gif) left -3px no-repeat;
	padding-left: 33px;
	list-style: none;
	font-size: 24px;
	font-weight: bold;
	color: #111;
	line-height:120%;
	margin-bottom: 30px;
}
p.title2 {
	display: none;
}
p.text2 {
	display: none;
}

/* =========================================================
■ ボタン
========================================================= */
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;/*rem算出をしやすくするために*/
}

.btn,
a.btn,
button.btn {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}

/*---------------------------------
_オレンジ角丸
-----------------------------------*/
.btn--orange,
a.btn--orange {
  color: #fff;
  background-color: #eb6100;
}
.btn--orange:hover,
a.btn--orange:hover {
  color: #fff;
  background: #f56500;
}

.fa-position-left {
  position: absolute;
  top: calc(50% - .5em);
  left: 1rem;
}

.btn--radius,
a.btn--radius,
button.btn--radius
{
    border-radius: 100vh;
}

a.btn--orange.btn--cubic {
  border-bottom: 5px solid #d25600;
}

a.btn--orange.btn--cubic:hover {
  margin-top: 3px;
  border-bottom: 5px solid #d25600;
}

/*---------------------------------
_ボタン　グリーン角丸立体
-----------------------------------*/
a.btn--green {
  color: #fff;
  background-color: #094;
}

a.btn--green:hover {
  color: #fff;
  background: #00a349;
}

a.btn--green.btn--cubic {
  border-bottom: 5px solid #00662d;
}

a.btn--green.btn--cubic:hover {
  margin-top: 3px;
  border-bottom: 2px solid #00662d;
}

a.btn-c {
  font-size: 2rem;
  position: relative;
  padding: 1.5rem 3rem 1.5rem 2rem;
  border-radius: 100vh;
}

/*---------------------------------
_ワイドボタン
-----------------------------------*/
.btn.btn--full {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	display: block;
}
.btn.btn--wide {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	display: block;
}
.btn.btn--big {
	padding-top: 30px;
	padding-bottom: 30px;
	font-size: 2em;
}
@media screen and (max-width: 1000px){
	.btn.btn--big {
		font-size: 1.5em;
	}
}

/*---------------------------------
_ボタン 1カラム2連
-----------------------------------*/
.btn-wrap-pc-sp {
  max-width: 435px;
  margin: 0 auto 20px;
}

a.btn-pc-sp {
  line-height: 1.4;

  width: 49.5%;
  padding: 1.25rem 0;

  color: #ffff;
}

a.btn--contact {
  display: block;

  padding: 1.5rem 0;

  color: #fff;
  background: #d20010;
  -webkit-box-shadow: 0 5px 0 #b9000e;
  box-shadow: 0 5px 0 #b9000e;
}

a.btn--contact i {
  font-size: 2rem;
}

a.btn--contact i.fa-position-left {
  font-size: 3rem;

  left: 2rem;
}

a.btn--contact :hover {
  color: #fff;
}

a.btn--tel {
  display: block;

  margin-top: 15px;
  padding: 1rem 0;

  color: #fff;
  background: #094;
  -webkit-box-shadow: 0 5px 0 #008039;
  box-shadow: 0 5px 0 #008039;
}

a.btn--tel i {
  font-size: 2rem;
}

a.btn--tel i.fa-position-left {
  font-size: 3rem;

  left: 2rem;
}

a.btn--tel .number {
  line-height: 1;

  display: inline-block;

  margin-top: 0.5rem;
  padding: 0.25rem 2rem;

  letter-spacing: 0;

  color: #094;
  border-radius: 0.5rem;
  background: #fff;
}

a.btn--tel:hover {
  color: #fff;
}

.fa-position-left {
  position: absolute;
  top: calc(50% - 0.5em);
  left: 1rem;
}

.fa-position-right {
  position: absolute;
  top: calc(50% - 0.5em);
  right: 1rem;
}

/*---------------------------------
_レスポンシブ初期値
-----------------------------------*/
.sp {
	display: none;
}

.blue {
	color: #014ea4 !important;
}




/* =========================================================
■ フッター
========================================================= */
footer .footer-contents {
	text-align: center;
	background-color: rgba(0,0,0,0.8);
	padding: 25px 0;
}
footer .footer-contents ul {
	width: 672px;
	margin: 0 auto;
}
footer .footer-contents ul li {
	background: transparent;
	margin-right: 20px;
	float: left;
	padding: 0;
	margin-bottom: 5px;
	font-weight: normal;
}
footer .footer-contents ul li a {
	display: block;
	font-size: 16px;
	color: #fff;
	text-decoration: none;
	padding: 10px;
	text-align: center;
}
footer #footer-btn {
	width: 100%;
	background-color: rgba(0,0,0,0.1);
}
footer .btn-case {
	width: 630px;
	margin: 0 auto;
	padding: 20px 0;
}
footer .btn-case .btn {
	width: 300px;
	height: 70px;
	box-sizing: border-box;
	text-align: center;
	float: left;
	font-size: 18px;
	font-weight: bold;
	box-shadow: 0 0 1px #111;
	border: 2px solid #fff;
	color: #fff;
	border-radius: 50px;
	background: rgb(13,216,118); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(13,216,118,1) 0%, rgba(14,140,80,1) 50%, rgba(5,80,46,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(13,216,118,1) 0%,rgba(14,140,80,1) 50%,rgba(5,80,46,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(13,216,118,1) 0%,rgba(14,140,80,1) 50%,rgba(5,80,46,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0dd876', endColorstr='#05502e',GradientType=0 ); /* IE6-9 */
}
footer .btn-case .btn:nth-child(1) {
	margin-right: 30px;
}
footer .btn-case .btn a {
	display: block;
	color: #fff;
	text-decoration: none;
	padding-top: 8px;
	line-height: 1.4;
}
footer .btn-case .btn:nth-child(2) a {
	padding-top: 20px;
}
footer p small {
	color: #fff;
}
@media screen and (max-width: 767px){
	footer .btn-case {
		width: 300px;
		padding: 10px 0;
	}
	footer .btn-case .btn {
		width: 145px;
		height: 50px;
	}
	footer .btn-case .btn:nth-child(1) {
		margin-right: 10px;
	}
	footer .btn-case .btn:nth-child(1) a {
		padding-top: 7px;
	}
	footer .btn-case .btn:nth-child(2) a {
		padding-top: 15px;
	}
	footer .btn-case .btn a {
		font-size: 12px;
	}
	footer ul {
		width: 100% !important;
	}
	footer ul li {
		float: none !important;
	}
	footer ul li a {
		text-align: left !important;
		padding: 2px !important;
		padding-left: 15px !important;
	}
}



/* =========================================================
■ スマホレイアウト
========================================================= */
@media(min-width: 768px){
	a[href^="tel:"]{
		pointer-events: none;
	}
}
@media screen and (max-width: 1000px){
	body {
		color: rgb(76, 76, 76);
		text-align: justify;
		background: none;
	}
	.hidden-xs {
		display: none;
	}
	.wrapper {
		width: 100%;
		background: none;
		padding: 0;
		line-height: 1.8;
		font-size: 105%;
	}
	.content {
		width:90%;
		margin: 0px 5%;
	}
	.content p {
		margin-bottom: 2em;
		line-height: 200%;
		font-size: 0.85em;
	}
	#wrapper2 {
		width:100%;
	}
	.wrapper2 {
		width:100%;
	}
	.top {
		display: none;
	}
	.top2 {
		display: block;
		width: 100%;
	}
	.top2 img {
		width: 100%;
	}
	img {
		/*width: 100%;*/
	}
	strong { font-weight: bold; font-size: 18px; }
	b { font-weight: bold; color: rgb(255, 69, 0); }
	p { margin: 0px; }
	.clear { clear: both; }

	#footer {
	}
	#footer p {
		font-size: 0.8em;
	}


	/*ăăŠăłăăľă¤ăşăťčŁ?Łž
	******************************************/
	.f-size24 {
		font-size: 1.1em !important;
	}
	.f-size20_b {
		font-size: 1.1em !important;
		font-weight: bold;
	}
	.f-size30_b {
		font-size: 1.1em !important;
		font-weight: bold;
	}
	.f-size30_bu {
		font-size: 1.1em !important;
		font-weight: bold;
		text-decoration: underline;
	}
	.black {
		color: #111;
	}
	.f-bold {
		font-weight: bold;
	}

	/*ăŞăšă?
	******************************************/
	ul {
		margin-bottom: 1em;
	}
	li {
		background: url(../img/ck28.gif) left top no-repeat;
		padding-left: 33px;
		list-style: none;
		font-size: 1.1em;
		font-weight: bold;
		color: #111;
		line-height:160%;
		margin-bottom: 10px;
	}
	.button {
		max-width: 96%;
		margin: 0 auto;
	}
	.button img {
		width: 100%
	}
	.wrap {
		overflow: hidden;
	}
	/*ăăŠăźă?é¨ĺ?ťĺ?
	******************************************/
	.sp {
		display: block;
	}
	.pc {
		display: none;
	}

	/*---------------------------------
	_見出し
	-----------------------------------*/
	.subtitle h2 {
		font-size: 1.5em;
	}

	/*---------------------------------
	_プロフィール
	-----------------------------------*/
	.profile-box .photo {
		width: 100%;
		float: none;
	}
	.profile-box .photo img {
		width: 100%;
	}
	.profile-box .detail {
		width: 100%;
		float: right;
	}
	.profile-box .detail .name {
		font-size: 2em;
	}

	/*---------------------------------
	_テーブル
	-----------------------------------*/
	table.form1 th,
	table.form1 td {
		border-bottom: none;
		display: block;
		width: auto;
		font-size: 0.85em;
	}
	table.form1 {
		border-bottom: solid 1px #dcdcdc;
	}
}
